
/CFD for Nuclear Engineering/Lab_08-Fuel Bundle/Geometry/FM_Lenovo246_21792
/CFD for Nuclear Engineering/Lab_08-Fuel Bundle/Geometry/elementary_geometry_workflow_files
Advanced Topics in Nuclear Engineering/Project Work/genetic_algotithm.log
*.trn
CFD for Nuclear Engineering/Lab_09-Natural Convection/cleanup-fluent-PC246-11056.bat
CFD for Nuclear Engineering/Lab_09-Natural Convection/fluent-999999-error.log
