/CFD for Nuclear Engineering/Lab_08-Fuel Bundle/Geometry/FM_Lenovo246_21792
/CFD for Nuclear Engineering/Lab_08-Fuel Bundle/Geometry/elementary_geometry_workflow_files
*.trn
CFD for Nuclear Engineering/Lab_09-Natural Convection/cleanup-fluent-PC246-11056.bat
/CFD for Nuclear Engineering/Lab_09-Natural Convection/animation
*.synctex.gz
*.log
*.fls
*.fdb_latexmk
*.aux
*.toc
/CFD for Nuclear Engineering/Lab_10-Buoyancy/animation
*.bat
*.png
*.ppm
Experimental Reactor Kinetics/__pycache__/framework.cpython-311.pyc
*.synctex(busy)
Notes/main.out
/CFD for Nuclear Engineering/Project - Single Phase/03 - Simulation/Autosave
CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/01_Sim.cas.h5
CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/01_Sim.dat.h5
CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/03_Sim.dat.h5
/CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/autosave
CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/Working_Transient.dat.h5
CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/Working_Transient_TESTING.dat.h5
CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/obsolete cases/Working_Transient_TESTING.dat.h5
/CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/obsolete cases
CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/data_vol_frac/vol_frac_water-2109
/CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/data_vol_frac
/CFD for Nuclear Engineering/Project - Two Phase/03 - Simulation/data_vol_frac_2
*.dat.h5
